@import "tailwindcss";

@theme{
    --color-background-dark: #070113;
    --color-background: #E7E7E7;
    --color-accent: #6CB0BA;
}

body {
    background-color: var(--color-background);
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body {
    background-color: var(--color-background-dark);
}
}




